<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Notes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="main">
        <div id="header">
            <h1>Summarize, <br>Take Notes, <br>and Review Books</h1>
            <button onclick="toggleButton()" id="form-btn" class="button">Write Entry</button>
            <form action="/isbn" method="post" id="form">
                <input type="text" placeholder="Book Title" name="title" class="box">
                <input type="text" name="isbn" placeholder="Enter ISBN" class="box">
                <textarea name="notes" placeholder="Notes" class="box" id="notes"></textarea>
                <select name="rating" class="box">
                    <option disabled selected>Select a rating</option>
                    <% for (let i = 1; i < 11; i++) { %>
                        <option value="<%= i %>"><%= i %></option>
                    <% } %>
                </select>
                <div id="btn-container">
                    <input type="button" onclick="cancel()" value="Cancel" class="button" style="background-color: rgb(255, 115, 115); color: white;" >
                    <input type="submit" value="Submit" class="button" id="submit">
                </div>     
            </form>
        </div>
        <div id="notes-container">
            <h2>All Notes</h2>
            <% entries.forEach(entry => { %>
                <div class="book-review">
                    <h3><%= entry.title%> : <%=entry.rating%>/10</h2>
                    <div class="content">
                        <img src="<%= entry.url%>" alt="<%= entry.url %>">
                        <p><%= entry.notes %></p>
                    </div>
                    <form action="/delete-item" method="post">
                        <button type="submit" value="<%= entry.id%>" name="deleteItemID" class="button" id="delete-btn">Delete</button>
                    </form>
                </div>
            <% }); %>
        </div>
    </div>
    <script>
        function toggleButton(){
            document.getElementById("form-btn").style.display = "none"
            document.getElementById("form").style.display = "flex";
        }
        function cancel() {
            document.getElementById("form-btn").style.display = "block"
            document.getElementById("form").style.display = "none";
        }
    </script>
</body>
</html>